<div class="page">
    <div class="header">

    </div>
    <div class="days">
        <button mat-flat-button class="myButtonActive">Heute</button>
        <button mat-flat-button class="myButtonInactive">Morgen</button>
        <button mat-flat-button class="myButtonInactive">getUebermorgen</button>
    </div>
    <div class="content">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Today {{ indexSwiper }}</div>
              <div class="swiper-slide">Tomorrow</div>
              <div class="swiper-slide">getUebermorgen</div>
            </div>
            <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
          </div>
    </div>
</div>

