<div class="page">
    <div class="header">

    </div>
    <div class="days">
        <button mat-flat-button class="myButtonActive">Heute</button>
        <button mat-flat-button class="myButtonInactive">Morgen</button>
        <button mat-flat-button class="myButtonInactive">getUebermorgen</button>
    </div>
    
    <div class="content-container">
        <swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)">
          <div class="swiper-slide">
            <div>
              test
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              test2
            </div>
          </div>
        </swiper>
      </div>



</div>

