<div class="page">
    <div class="header">

    </div>
    <div class="days">
        <button mat-flat-button [ngClass]="{'myButtonActive': currentSlide == 0, 'myButtonInactive': currentSlide != 0 }">Heute</button>
        <button mat-flat-button [ngClass]="{'myButtonActive': currentSlide == 1, 'myButtonInactive': currentSlide != 1 }">Morgen</button>
        <button mat-flat-button [ngClass]="{'myButtonActive': currentSlide == 2, 'myButtonInactive': currentSlide != 2 }">getUebermorgen</button>
    </div>
    
    <div class="content-container">
        <swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)">
          <div class="swiper-slide">
            <div>
              Heute
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              Morgen
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              getUebermorgen
            </div>
          </div>
        </swiper>
      </div>



</div>

