.filter-wrapper{
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  color: #a64d79;
  padding: 10px;
  z-index: 800;
  background-color: white;
  animation: sidenav 0.4s ease-in-out;
  overflow: scroll;
}

@keyframes sidenav{
  0%{
    right: -300px;
  }
  100%{
    right: 0;
  }
}

.filter-group{
  margin: 15px 0;
  padding: 5px;
}

.title{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
}

.filter-title{
  font-weight: bold;
  margin: 10px 0;
}

.filter-button{
  border-radius: 5px;
  border: 2px solid #a64d79;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
  width: 100px;
  height: 50px;
}

.filter-button-active{
  background-color: #a64d79;
  color: #eddbe4;
}

.button-icon{
  text-align: center;
}

.button-label{
  vertical-align: top;
  text-align: center;
}

mat-slider{
  width: 100%;
}

button{
  border-radius: 20px;
  border: 2px solid #eddbe4;
  padding: 10px;
  width: 45%;
  font-size: 1.1em;
  margin: 10px 2.5%;
  color: #a64d79;
  background-color: #eddbe4;
}

.filter{
  background-color: #a64d79;
  color: #eddbe4;
  border-color: #a64d79;
}
