.navbar{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    height:30px;
    background-color: blueviolet;
    color:white;
    display:grid;
    grid-template-columns: 90px 1fr 90px;
    padding:10px;
    text-align: center;
    font-size: 28px;
    


}
.navbar span{
    font-size: 20px;;
}