
<div class="navbar">
   <div></div>
    <div class="degree">
    <!--mat-icon *ngIf="sunny" aria-hidden="false" aria-label="Example home icon">wb_sunny </mat-icon>
       <mat-icon *ngIf="cloudy" aria-hidden="false" aria-label="Example home icon">cloud </mat-icon-->
        <i class="fas"></i>
        
       <span id="temperature">
        
        </span>
    </div>
    <div class="filter">
        
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="showFilter=!showFilter">filter_list
        </mat-icon>
    </div>
</div>
<app-filter *ngIf="showFilter"></app-filter>