/* You can add global styles to this file, and also import other style files */

html, body {
    height: calc(100vh - 90px);
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
body { margin-top: 90px; font-family: 'Comfortaa', serif; }

.mat-slider-thumb, .mat-slider-track-fill, .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-slider-thumb-label, .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #a64d79 !important;
}

.mat-checkbox-checkmark-path{
  stroke: #eddbe4 !important;
}

.mat-checkbox-frame{
  border-color: #a64d79;
}
