/* You can add global styles to this file, and also import other style files */

html, body { 
    height: calc(100vh - 90px); 
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden; 
}
body { margin-top: 90px; font-family: 'Comfortaa', serif; }


.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #a64d79;
}


.mat-progress-spinner svg, .mat-spinner svg{
    width: 50px !important;
    height: 50px !important;
}