.card{
  width: 50%;
  height: 300px;
  box-shadow: 0 0 6px 0 #d7d7d7;
  margin: 10px 10px 10px 0;
  position:relative;
  display: inline-block;
}

.image-container{
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

img{
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.text-container{
  position: absolute;
  top: 150px;
  left: 0;
  height: 150px;
  width: 200px;
  padding: 0 10px;
}

.title{
  color:black;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.crowdedness{
}

.crowdedness-bar{
  display: inline-block;
  margin: 0 5px;
  position:relative;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  height: 20px;
  width: 70%;
}

.crowdedness-bar-inner{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 50%;
  background-color: orange;
}

.icon{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  color: white;
}