.card{
  width: 50%;
  height: 300px;
  box-shadow: 0 0 12px 0 #d7d7d7;
  margin: 20px 10px 10px 0;
  position: relative;
  display: inline-block;
  background-color: white;
}

.image-container{
  height: 150px;
  width: 92%;
  left: 50%;
  box-shadow: 0 3px 12px 0 #949494;
  transform: translateX(-50%);
  overflow: hidden;
  position: absolute;
  top: -10px;
}

img{
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.text-container{
  position: absolute;
  top: 150px;
  left: 0;
  height: 150px;
  width: 100%;
  padding: 0 10px;
}

.title{
  margin-bottom: 5px;
  color:black;
  font-size: 1em;
  font-weight: 800;
}

.subtitle{
  margin: 5px 0;
  font-size: 0.75em;
  color: gray;
}

.crowdedness{
}

.crowdedness-bar{
  display: inline-block;
  margin: 0 5px;
  position:relative;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  height: 5px;
  width: 70%;
}

.crowdedness-bar-inner{
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 50%;
  background-color: orange;
}

.crowdedness mat-icon{
  vertical-align: middle;
}

.rating{
  color: rgb(233, 203, 37);
}

.icon{
  position: absolute;
  top: -7px;
  right: 12px;
  z-index: 5;
  color: white;
}