<div class="card" *ngIf="showAttractions && cardInfo.attraction || showLakes && cardInfo.lake || showMountains && cardInfo.mountain || showMuseums && cardInfo.museum || showViewpoints && cardInfo.viewpoint" (click)="showDetails = true">
  <div class="image-container">
    <img src={{cardInfo.img}} alt="">
  </div>
  <div class="text-container">
      <div class="title">{{ cardInfo.name }}</div>
      <div class="subtitle">{{ subtitle }}</div>
      <div class="crowdedness">
          <mat-icon aria-hidden="false" aria-label="Attractions">group</mat-icon>
          <div class="crowdedness-bar">
            <div class="crowdedness-bar-inner">
              
            </div>
          </div>
      </div>
      <ng-container *ngIf="isOpen; else elseTemplate" >
        <div class="openess openclass">
          Open
        </div>
      </ng-container>
      <ng-template #elseTemplate >
        <div class="openess closedclass">
          Closed
        </div>
      </ng-template>
      </div>
    <div class="icon-bar">
      <mat-icon *ngIf="cardInfo.attraction" aria-hidden="false" aria-label="Attractions">local_activity</mat-icon>
      <mat-icon *ngIf="cardInfo.lake" aria-hidden="false" aria-label="Attractions">directions_boat</mat-icon>
      <mat-icon *ngIf="cardInfo.mountain" aria-hidden="false" aria-label="Attractions">landscape</mat-icon>
      <mat-icon *ngIf="cardInfo.museum" aria-hidden="false" aria-label="Attractions">museum</mat-icon>
      <mat-icon *ngIf="cardInfo.viewpoint" aria-hidden="false" aria-label="Attractions">panorama</mat-icon>
    </div>
  </div>
    <app-detail-view *ngIf="showDetails" (onCloseDetails)="onCloseDetails($event)" [cardInfo]="cardInfo"></app-detail-view>