.card{
  width: calc(50vw - 20px);
  height: 210px;
  box-shadow: 0 0 12px 0 #d7d7d7;
  margin: 20px 8px 10px 8px;
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}

.image-container{
  height: 100px;
  width: 100px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 12px 0 #949494;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
}

img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.text-container{
  position: absolute;
  top: 130px;
  left: 0;
  width: calc(100% - 20px);
  padding: 0 10px;
}

.title{
  margin-bottom: 5px;
  color:black;
  font-size: 0.9em;
  font-weight: 800;
  text-align: center;
}

.subtitle{
  margin: 5px 0;
  font-size: 0.67em;
  color: gray;
  word-break: break-all;
  hyphens: auto;
}

.crowdedness{
  position: absolute;
  left: 10px;
  bottom: 47px;
  width: 90%;
}

.crowdedness-bar{
  display: inline-block;
  margin: 0 5px;
  position:relative;
  border: 1px solid #a64d79;
  height: 5px;
  width: 70%;
  background-color: rgba(166, 77, 122, 0.3);
}

.crowdedness-bar-inner{
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: rgb(166, 77, 122);
}

.crowdedness mat-icon{
  vertical-align: middle;
}


.icon-bar{
  display: flex;
  color: #e0e0e0;
}

.icon-bar > mat-icon {
  margin-left: 5px;
}

.openess {
  font-size: small;
}

.openclass {
  color: green;
}

.closedclass {
  color: red;
}


.openess-indicator{
  position: absolute;
  left: 5px;
  top: 45px;
}

.ring-container {
  position: relative;
}

.circle-open {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 5px;
}

.ringring-open {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: -43px;
  left: -3px;
  -webkit-animation: pulsate 7s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

.circle-close {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 5px;
}

.ringring-close {
  border: 3px solid red;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: -43px;
  left: -3px;
  -webkit-animation: pulsate 7s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  70% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  /* 50% {opacity: 1.0;} */
  90% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.show-more{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 175px;
  border-radius: 20px;
  background-color: #a64d79;
  color: white;
  border: none;
  padding: 5px 10px;
}
