<div class="card">
  <div class="image-container">
    <img src="../../assets/images/neuschwanstein.jpeg" alt="">
  </div>
  <div class="text-container">
      <h3>Schloss Neuschwanstein</h3>
      <div class="crowdedness">
          <mat-icon aria-hidden="false" aria-label="Attractions">group</mat-icon>
          <div class="crowdedness-bar">
            <div class="crowdedness-bar-inner">
              
            </div>
          </div>
      </div>
      <div class="rating"></div>
  </div>
  <div class="icon">
    <mat-icon aria-hidden="false" aria-label="Attractions">local_activity</mat-icon>
  </div>
</div>