<div class="detail-card">
    <div class="card-wrapper">
        <div class="icon" (click)="onClose()">
            <mat-icon aria-hidden="false" aria-label="Attractions">close</mat-icon>
        </div>
        <div class="image-container">       
            <img src={{cardInfo.img}} alt="">
        </div>
        <div class="text-container">
            <div class="title">
                <b>{{ cardInfo.name }}</b>
            </div>
            <div class="rating">
            <mat-icon aria-hidden="false" aria-label="Attractions">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Attractions">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Attractions">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Attractions">star</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Attractions">star_border</mat-icon>
            </div>
            <hr>
            <div class="info">
                <div class="info-item">
                    <div>
                        <mat-icon aria-hidden="false" aria-label="Attractions">money</mat-icon> 
                    </div>
                    <div>
                        30 - 50 €
                    </div>
                </div>
                <div class="info-item" (click)="onOpenLink('https://www.google.com/maps/search/?api=1&query=Schloss+Neuschwanstein')">
                    <div>
                        <mat-icon aria-hidden="false" aria-label="Attractions">directions</mat-icon>
                    </div>
                    <div>
                        Google Maps
                    </div>
                </div>
                <div class="info-item">
                    <div>
                        <mat-icon aria-hidden="false" aria-label="Attractions">access_time</mat-icon>
                    </div>
                    <div>
                        10:00 - 20:00 
                    </div>
                </div>
            </div>
            <div class="descriptionContainer">
                <div class="description">
                     {{ cardInfo.description }}}
                </div>
            </div>
            <div class="buttons">      
                <button mat-raised-button color="primary">I will go there!</button>
            </div>
        </div>
    </div>
</div>