<div class="detail-card" *ngIf="showDetails">
    <!-- <div class="image-container"> -->
      <!-- </div> -->
      <div class="card-wrapper">
        <img src={{cardInfo.img}} alt="">
        <div class="filter"></div>
        <div class="icon" (click)="onClose()">
            <mat-icon aria-hidden="false" aria-label="Attractions">close</mat-icon>
        </div>
        <div class="text-container">
          <div class="title">
              <b>{{ cardInfo.name }}</b>
          </div>
          <div class="rating">
          <mat-icon *ngIf="rating > 0" aria-hidden="false" aria-label="Attractions">star</mat-icon>
          <mat-icon *ngIf="rating > 1" aria-hidden="false" aria-label="Attractions">star</mat-icon>
          <mat-icon *ngIf="rating > 2" aria-hidden="false" aria-label="Attractions">star</mat-icon>
          <mat-icon *ngIf="rating > 3" aria-hidden="false" aria-label="Attractions">star</mat-icon>
          <mat-icon *ngIf="rating > 4" aria-hidden="false" aria-label="Attractions">star</mat-icon>
          <mat-icon *ngIf="rating < 1" aria-hidden="false" aria-label="Attractions">star_border</mat-icon>
          <mat-icon *ngIf="rating < 2" aria-hidden="false" aria-label="Attractions">star_border</mat-icon>
          <mat-icon *ngIf="rating < 3" aria-hidden="false" aria-label="Attractions">star_border</mat-icon>
          <mat-icon *ngIf="rating < 4" aria-hidden="false" aria-label="Attractions">star_border</mat-icon>
          <mat-icon *ngIf="rating < 5" aria-hidden="false" aria-label="Attractions">star_border</mat-icon>
          </div>
          <mat-tab-group>
            <mat-tab label="General Information">
              <div class="info">
                  <div class="info-item">
                      <div>
                          <mat-icon aria-hidden="false" aria-label="Attractions">money</mat-icon>
                      </div>
                      <div>
                        <div><b>Pricing</b></div>
                        <div>
                          {{ priceTag }}
                        </div>
                      </div>
                  </div>
                  <div class="info-item" (click)="onOpenLink(cardInfo.mapsURL)">
                      <div>
                          <mat-icon aria-hidden="false" aria-label="Attractions">directions</mat-icon>
                      </div>
                      <div>
                        <div><b>Navigation</b></div>
                        <div>Open in Google Maps</div>
                      </div>
                  </div>
                  <div class="info-item">
                      <div>
                          <mat-icon aria-hidden="false" aria-label="Attractions">access_time</mat-icon>
                      </div>
                      <div>
                        <div><b>Opening Hours</b></div>
                        <div>
                          {{ openingTime }}
                        </div>
                      </div>
                  </div>
              </div>
              <div class="crowdedness">
                <div>
                  <mat-icon aria-hidden="false" aria-label="Attractions">group</mat-icon>
                </div>
                <div class="chart">
                  <div class="chart-item">
                    <div class="chart-bar"></div>
                    <div class="chart-time">8-10</div>
                  </div>
                  <div class="chart-item">
                    <div class="chart-bar"></div>
                    <div class="chart-time">10-12</div>
                  </div>
                  <div class="chart-item">
                    <div class="chart-bar"></div>
                    <div class="chart-time">12-14</div>
                  </div>
                  <div class="chart-item">
                    <div class="chart-bar"></div>
                    <div class="chart-time">14-16</div>
                  </div>
                  <div class="chart-item">
                    <div class="chart-bar"></div>
                    <div class="chart-time">16-18</div>
                  </div>
                  <div class="chart-item">
                    <div class="chart-bar"></div>
                    <div class="chart-time">18-20</div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Description">
              <div class="description-container">
                <div class="description">
                      {{ cardInfo.description }}
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="button-container">
          <div class="button-center">
            <button>I will go there!</button>
          </div>
        </div>
    </div>
</div>
