.detail-card{
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 600;
  box-shadow: 0 0 10px 0 #888;
  animation: popup 0.2s ease-in-out;
  transition: ease-out;
  border-radius: 15px 15px 0 0;
  color: white;
}

@keyframes popup {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
}

.card-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container{
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

img{
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.filter{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  )
}

.text-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  z-index: 3;
  width: calc(100% - 40px);
}

.title{
    color:white;
    font-size: 2em;
    font-weight: 800;
    padding: 10px 0;
    text-align: center;
}

.info{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    margin: 10px 0;
}

.info-item{
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    color: black;
    background-color: #eddbe4;
    font-size: 0.8em;
}

.info-item>div{
  padding: 15px;
}

.info-item>div:nth-child(2){
  text-align: left;
}

.info-item mat-icon{
    margin:auto;
}

.description-container{
  height: 62vh;
  overflow: scroll;
}

.description{
  padding: 15px;
}

.button-container{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 10px 0;
}

.button-center{
  width: 70%;
  margin: auto;
}

button{
  background-color: #a64d79;
  width: 100%;
  padding: 15px;
  color: white;
  border: 1px solid rgb(166, 77, 121);
  border-radius: 5px;
  font-size: 1em;
}

.icon{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #b5b5b5;
    z-index: 6;
}

.rating{
    color: gold;
    text-align: center;
}

.rating mat-icon{
  font-size: 1em;
  width: 16px;
  height: 16px;
}

.crowdedness{
  overflow: auto;
}

.chart{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.chart-bar{
  width: 29px;
  height: 90px;
  margin:auto;
  border-radius: 5px 5px 0 0;
  background-color: rgb(237,219,228);
}

.chart-item{
  display: grid;
  grid-template-rows: 80% 20%;
  text-align: center;
  font-size: 0.8em;
  padding: 1px;
}

.chart-time{
  padding: 10px 0;
  font-size: 0.8em;
}

.close-detail{
  animation: closeDetail 0.2s ease-in-out;
  top: 100vh;
}

@keyframes closeDetail{
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}