<div class="weather-container">
  <div class="chart-container" style="display: block;">
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
  <div class="icons-container">
    <div *ngFor="let icon of icons">
      <i [class]="'fas ' + icon"></i>
    </div>
  </div>
</div>
